<!-- begin hero -->
{% assign c = "c-hero" %}
<section class="{{c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{c}}__inner">

          <div class="{{c}}__left">
            <h1 class="{{c}}__title">{{ include.title }}</h1>
            <div class="{{c}}__description">{{ include.description_html }}</div>
            <div class="{{c}}__btn">
              <!-- Disable contact me button on home page -->
              <!-- If needed, uncomment and add "cta_button: 联系我 cta_button_link: "xxx" to index.html page too -->
              <!-- <a href="{{ include.cta_button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ include.cta_button }}</a> -->
              <a class="works-button c-button c-button--primary c-button--small" href="{{ include.works_button_link }}">
                <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ include.works_button }}
              </a>
            </div>
          </div>

          <div class="{{c}}__right">
            <div class="{{c}}__image">
              <!-- Use avif or webp format if supported by the browser -->
              <picture>
                <source type="image/avif" srcset="{{ include.image }}.avif">
                <source type="image/webp" srcset="{{ include.image }}.webp">
                <img loading="lazy" src="{{ include.image }}.jpg" alt="{{ include.hero_image_alt }}">
              </picture>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->