---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.next.url %}
  <div class="project__navigation animate">
    <a class="project__next" href="{{page.next.url}}">
      <div class="project__box">
        <span class="project__nav__info">下一个作品:</span>
        <h3 class="project__nav__title">{{page.next.title}}</h3>
      </div>
    </a>
  </div>
  {% endif %}

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__previous" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">上一个作品:</span>
        <h3 class="project__nav__title">{{page.previous.title}}</h3>
      </div>
    </a>
  </div>
  {% endif %}

</div>
